@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=latin-ext');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #FFF;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}



header {
    height: 80px;
    background-image: radial-gradient(circle, #72d6c9, #54d1ed, #7ac5ff, #bcb2fe, #f29cd9);
}
.nav-logo {
    float: left;
    color: cadetblue;
    font-size: 25px;
    margin: 0;
    padding-left: 15px;
    line-height: 80px;
}
nav ul {
    float: right;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
nav ul li {
    display: inline-block;
    position: relative;
    width: 150px;
}
nav ul li a {
    text-decoration: none;
    color: cadetblue;
    line-height: 60px;
    display: block;
    padding: 10px 0;
}
nav ul li a:hover {
    color: darkblue;
    transition-duration: .2s;    
}

nav ul ul {
     background-image: radial-gradient(circle, #72d6c9, #54d1ed, #7ac5ff, #bcb2fe, #f29cd9);
    text-align: center;
    width: 100%;
    display: none;
}
nav ul ul li {
    display: block;
}
nav ul ul li a {
    padding: 0 15px;
}
nav ul li:hover > ul {
    display: block;
    position: absolute;
    z-index: 1;
    z-index: 1;
}